<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Video Settings</title>

  <!-- build:css css/settings.min.css -->
  <link rel="stylesheet" href="components/rv-common-style/dist/css/rise.min.css">
  <link rel="stylesheet" href="components/bootstrap-select/bootstrap-select.css">
  <link rel="stylesheet" href="components/rv-bootstrap-formhelpers/dist/css/rv-bootstrap-formhelpers.css">
  <!-- endbuild -->

  <style type="text/css">
    body, html {
      background: transparent;
    }
  </style>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
</head>
<body ng-app="risevision.widget.video.settings" ng-controller="settingsController">
  <div class="widget">
    <div class="overlay"></div>
    <div class="settings">
      <div class="settings-center">
        <div class="wrapper container modal-content" ng-controller="videoSettingsController" ng-cloak>
          <div class="modal-header">
            <h2 id="settings-title"> {{"video.settings" | translate }}
              <button id="settings-close" type="button" class="close" ng-click="closeSettings()">
                <i class="fa fa-times"></i>
              </button>
            </h2>
            <div class="sticky-wrapper">
              <widget-button-toolbar
                save="saveSettings()" cancel="closeSettings()" disable-save="settingsForm.$invalid"
                contribute="https://github.com/xlsuite/reach.network"></widget-button-toolbar>
            </div>
          </div>
          <form role="form" name="settingsForm">
            <!-- URL -->
            <url-field id="videoUrl" name="videoUrl" url="settings.additionalParams.url"
                       company-id="{{settings.params.companyId}}"
                       storage-type="single-file"
                       file-type="video"
                       ng-model="videourlentry" valid></url-field>

            <label>Display ID</label>
            <input name="display-id" type="text" ng-model="settings.additionalParams.displayId"/>
            <!-- Video -->
            <div class="section">
              <h5>{{"video.heading" | translate}}</h5>
              <!-- Scale To Fit -->
              <div class="checkbox">
                <label>
                  <input name="video-scale" type="checkbox" ng-model="settings.additionalParams.video.scaleToFit"> {{"widgets.scale-to-fit" | translate}}
                </label>
              </div>
              <!-- Volume -->
              <label>{{"video.volume.label" | translate}}</label>
              <div>
                <slider orientation="horizontal" handle="round" ng-model="settings.additionalParams.video.volume" min="0" step="1" max="100"></slider>
              </div>
              <!-- Use Controls -->
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="settings.additionalParams.video.controls"> {{"widget-video-folder.controls" | translate}}
                </label>
              </div>
              <div class="form-group" ng-show="settings.additionalParams.video.controls">
                <!-- Autoplay -->
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="settings.additionalParams.video.autoplay"> {{"video.autoplay.label" | translate}}
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <!-- build:js js/settings.min.js -->
  <script src="components/angular-translate/angular-translate.js"></script>
  <script src="components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
  <script src="components/rv-common-i18n/dist/i18n.js"></script>
  <script src="components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
  <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="components/bootstrap-select/bootstrap-select.js"></script>
  <script src="components/rv-bootstrap-formhelpers/dist/js/rv-bootstrap-formhelpers.js"></script>
  <script src="components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
  <script src="components/angular-bootstrap-slider/slider.js"></script>

  <script src="components/widget-settings-ui-components/dist/js/angular/widget-button-toolbar.js"></script>
  <script src="components/widget-settings-ui-components/dist/js/angular/tooltip.js"></script>
  <script src="components/component-storage-selector/dist/storage-selector.js"></script>
  <script src="components/widget-settings-ui-components/dist/js/angular/url-field.js"></script>

  <script src="config/config.js"></script>
  <script src="settings/settings-app.js"></script>
  <script src="components/widget-settings-ui-core/dist/widget-settings-ui-core.js"></script>
  <script src="settings/ctr-video-settings.js"></script>
  <!-- endbuild -->

  <!-- build:e2egadgets -->
  <script src="//rvashow2.appspot.com/gadgets/gadgets.min.js"></script>
  <!-- endbuild -->

  <script src="//s3.amazonaws.com/rise-common/scripts/i18next/i18next.min.js"></script>

</body>
</html>
