<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  	<servlet>
		<servlet-name>OfflineManifest</servlet-name>
		<servlet-class>com.risevision.viewer.linker.ManifestServlet</servlet-class>
	</servlet>
  	<servlet>
		<servlet-name>MakeRequest</servlet-name>
		<servlet-class>com.risevision.viewer.server.MakeRequestServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>OfflineManifest</servlet-name>
		<url-pattern>/offline.manifest</url-pattern>
	</servlet-mapping>
  		<servlet-mapping>
		<servlet-name>MakeRequest</servlet-name>
		<url-pattern>/gadgets/makeRequest</url-pattern>
	</servlet-mapping>
  
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Viewer.html</welcome-file>
	</welcome-file-list>
</web-app>
